# Database
DATABASE_DRIVER="postgres"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_NAME="exampledb"
DATABASE_USERNAME="exampleuser"
DATABASE_PASSWORD="examplepass"

# Logger
LOG_FORMAT="dev"

# Backend
BACKEND_PORT="3000"
CORS_ORIGIN="*"

# Frontend
VITE_API_URL=http://localhost:3000/api/afisha
VITE_CDN_URL=http://localhost:3000/content/afisha

# pgAdmin
PGADMIN_EMAIL="admin@example.com"
PGADMIN_PASSWORD="admin"
PGADMIN_PORT="8080"

# Nginx
NGINX_PORT="80"

# Docker Registry
REGISTRY="ghcr.io"
IMAGE_NAME="film-react-nest"
GITHUB_REPOSITORY="tolpil/film-react-nest"